body {
  margin: 0;
  padding: 0;
  background: #f4f4f4
    url("https://kartinki.pics/uploads/posts/2021-07/1626975274_14-kartinkin-com-p-anime-oboi-v-fioletovikh-tonakh-anime-kras-14.jpg")
    center/cover no-repeat fixed;
  font-family: Arial, sans-serif;
}

.wrapper {
  max-width: 3400px;
  margin: 0 auto;
  background: transparent; /* Сделаем фон между каруселью прозрачным */
  padding: 0 30px;
}

.image-carousel {
  width: 176px;
  height: 264px;
  object-fit: cover;
}

.carousel_container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.details-arrow-prev {
  font-size: 38px;
  cursor: pointer;
  margin-top: 25vh;
  margin-right: 10px; /* Добавляем отступ справа */
}

.details-arrow-next {
  font-size: 38px;
  cursor: pointer;
  margin-top: 25vh;
  margin-left: 10px; /* Добавляем отступ слева */
}

.carousel-slider {
  display: flex;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
  display: none !important;
}

.image-carousel {
  width: 176px;
  height: 456px;
  object-fit: cover;
}

.carousel_container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.carousel.carousel-slider .control-arrow {
  background: rgba(56, 56, 56, 0.454) !important;
  height: 50px !important;
  right: 0;
}

.carousel-container {
  margin-top: 100px;
}
